---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_long_string }}</span>
  {% if page.toc == true %}
    {% assign my_toc_min = page.toc_min | default: site.toc_min | default: 1 %}
    {% assign my_toc_max = page.toc_max | default: site.toc_max | default: 3 %}
    {% assign my_toc_ordered = page.toc_ordered | default: site.toc_ordered | default: true %}
    {% assign my_toc_item_class = page.toc_item_class | default: site.toc_item_class | default: '' %}
    {% assign my_toc_submenu_class = page.toc_submenu_class | default: site.toc_submenu_class | default: '' %}
  
    {% include toc.html html=content h_min=my_toc_min h_max=my_toc_max ordered=my_toc_ordered item_class=my_toc_item_class submenu_class=my_toc_submenu_class %}
  {% endif %}
  {{ content }}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
